body {
    margin: 0px;
    text-align: center;
    background-color: rgb(79, 155, 79);
}

h1 {
    font-family: serif;
    color: #008181;
    font-weight: 500;
}

.p1 {
    font-family: serif;
    color: #008181;
    font-weight: 500;
}

span {
    text-decoration: underline;
    text-decoration-color: chartreuse;
    text-decoration-thickness: 3px;
}

.top-box {
    margin: 0px;
    background-color: rgb(155, 168, 226);
    position: relative;
    padding-top: 100px;
}

.clouds {
    position: absolute;
    bottom: 345px;
    left: 95%;

    -webkit-animation: movingclouds 23s linear infinite;
    -moz-animation: movingclouds 23s linear infinite;
    -o-animation: movingclouds 23s linear infinite;
}

.clouds-2 {
    position: absolute;
    left: 95%;
    top: 50px;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.7;
    -webkit-animation: movingclouds 22s linear infinite;
    -moz-animation: movingclouds 22s linear infinite;
    -o-animation: movingclouds 22s linear infinite;
}

.clouds-3 {
    position: absolute;
    left: 95%;
    top: 50px;
    opacity: 0.6;
    -webkit-animation: movingclouds 27s linear infinite;
    -moz-animation: movingclouds 27s linear infinite;
    -o-animation: movingclouds 27s linear infinite;
}

.clouds-4 {
    position: absolute;
    left: 95%;
    top: 30px;
    opacity: 0.6;
    -webkit-animation: movingclouds 30s linear infinite;
    -moz-animation: movingclouds 30s linear infinite;
    -o-animation: movingclouds 30s linear infinite;

}

.clouds-5 {
    position: absolute;
    left: 95%;
    top: 65px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    -webkit-animation: movingclouds 35s linear infinite;
    -moz-animation: movingclouds 35s linear infinite;
    -o-animation: movingclouds 35s linear infinite;
}





.cloud {
    position: absolute;
    top: 75px;
    left: 95%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation: movingclouds 26s linear infinite;
    -moz-animation: movingclouds 26s linear infinite;
    -o-animation: movingclouds 26s linear infinite;
}

.cloud-1 {
    position: absolute;
    left: 95%;
    bottom: 325px;
    opacity: 0.7;
    -webkit-animation: movingclouds 20s linear infinite;
    -moz-animation: movingclouds 20s linear infinite;
    -o-animation: movingclouds 20s linear infinite;
}

@keyframes movingclouds {
    0% {
        margin-left: 5%;
    }

    100% {
        margin-left: -110%;
    }
}

.mountain {
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 25px;
    margin-top: 20px;
}

hr {
    border-color: springgreen;
}

.skill-row {
    display: inline-block;
    margin-right: 150px;
    margin-left: 150px;
}

.html {
    height: 100px;
}

.css {
    height: 100px;
}

h2 {
    color: chartreuse;
}

a {
    color: chartreuse;
}